* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "MBCNEW";
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: auto;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#3e3e5a), to(#333333));
  background: linear-gradient(to bottom, #3e3e5a, #333333);
}

@media screen and (max-width: 1080px) {
  body {
    display: block;
    height: auto;
  }
}

svg {
  font-family: 'MBCNEW';
}

.subpodcasts__container {
  height: calc(100% - 46px);
  width: 100%;
  padding-top: 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 12px;
}

.subpodcasts__container .back__icon {
  padding: 16px 22px 0;
  max-height: 54px;
  position: absolute;
  top: -42px;
}

.subpodcasts__container .back__icon img {
  width: 26px;
  height: 26px;
  padding: 5.6px;
  border-radius: 50%;
  border: 2px solid #ebebeb;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}

.subpodcasts__container .back__icon.hover img {
  border: none;
  width: 26px;
  height: 26px;
  padding: 7px;
  background-color: #ebebeb;
}

.subpodcasts__container .podcast {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 15px;
  padding: 0 30px 0 22px;
}

.subpodcasts__container .podcast img {
  border-radius: 10px;
  width: 100px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}

.subpodcasts__container .podcast .info {
  width: 260px;
}

.subpodcasts__container .podcast .info .contents {
  overflow: hidden;
  width: 100%;
}

.subpodcasts__container .podcast .info .contents .title {
  line-height: 1.4;
  margin: 8px 0 0;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.32px;
  text-align: left;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "MBCNEW";
  font-size: 17px;
  color: #21212e;
  font-weight: 400;
}

.subpodcasts__container .podcast .info .contents .subtitle {
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: -0.24px;
  text-align: left;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "MBCNEW";
  font-size: 12px;
  color: #484848;
  font-weight: 300;
}

.subpodcasts__container .podcast .info .main__podcast__icons {
  margin-top: 6px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
}

.subpodcasts__container .podcast .info .main__podcast__icons img {
  border-radius: 0;
  width: auto;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}

.subpodcasts__container .podcast .info .main__podcast__icons button {
  border-radius: 6px;
  width: 60px;
  height: 30px;
  cursor: pointer;
  background-color: #7742cc;
  font-family: "MBCNEW";
  font-size: 12px;
  color: #fff;
  font-weight: 300;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.subpodcasts__container .podcast .info .main__podcast__icons button img {
  width: 13.7px;
  height: 10.8px;
  -o-object-fit: contain;
     object-fit: contain;
}

.subpodcasts__container .search {
  min-height: 30px !important;
  max-height: 30px;
  width: 100%;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: auto;
}

.subpodcasts__container .search #search__form {
  height: 100%;
  width: 205px;
  border: 1px solid #cacacf;
  border-right: none;
  border-radius: 6px;
  margin-right: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: auto;
}

.subpodcasts__container .search #search__form .search__input {
  height: 100% !important;
  outline: none;
  border: none;
  padding: 0 2px 0 10px;
  width: calc(100% - 50px);
  border-radius: 6px;
  font-family: "MBCNEW";
  font-size: 14px;
  color: #333;
  font-weight: 300;
}

.subpodcasts__container .search #search__form .search__input::-webkit-input-placeholder {
  font-family: "MBCNEW";
  font-size: 12px;
  color: #969696;
  font-weight: 300;
}

.subpodcasts__container .search #search__form .search__input:-ms-input-placeholder {
  font-family: "MBCNEW";
  font-size: 12px;
  color: #969696;
  font-weight: 300;
}

.subpodcasts__container .search #search__form .search__input::-ms-input-placeholder {
  font-family: "MBCNEW";
  font-size: 12px;
  color: #969696;
  font-weight: 300;
}

.subpodcasts__container .search #search__form .search__input::placeholder {
  font-family: "MBCNEW";
  font-size: 12px;
  color: #969696;
  font-weight: 300;
}

.subpodcasts__container .search #search__form .search__input:focus {
  color: #7742cc;
}

.subpodcasts__container .search #search__form .search__input:focus::-webkit-input-placeholder {
  color: transparent;
}

.subpodcasts__container .search #search__form .search__input:focus:-ms-input-placeholder {
  color: transparent;
}

.subpodcasts__container .search #search__form .search__input:focus::-ms-input-placeholder {
  color: transparent;
}

.subpodcasts__container .search #search__form .search__input:focus::placeholder {
  color: transparent;
}

.subpodcasts__container .search #search__form .search__submit {
  float: right;
  top: 0;
  cursor: pointer;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 100%;
  width: 48px !important;
  border: 1px solid #707070;
  background-color: #707070;
  color: white;
  border-radius: 4px;
}

.subpodcasts__container .search #search__form .search__submit.onFocus {
  background-color: #7742cc;
  color: white;
  border-color: #7742cc;
}

.subpodcasts__container .search .all {
  margin-right: 15px;
  width: 60px;
  cursor: pointer;
  height: 100% !important;
  background-color: white;
  border: 1px solid #cacacf;
  border-radius: 6px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.08;
  letter-spacing: -0.48px;
  font-family: "MBCNEW";
  font-size: 12px;
  color: #7e7e7e;
  font-weight: 300;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.subpodcasts__container .search .all:hover {
  background-color: black;
  color: #fff;
  border-color: black;
}

.subpodcasts__container .search .result__count {
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: -0.28px;
  text-align: left;
  font-family: "MBCNEW";
  font-size: 15px;
  color: #333;
  font-weight: 200;
}

.subpodcasts__container .subpodcasts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 14px;
  width: 100%;
  position: relative;
  overflow-y: scroll;
  padding: 0 22px;
}

.subpodcasts__container .subpodcasts .no__subpodcast {
  font-size: 14px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 6rem;
  top: 40%;
  font-family: "MBCNEW";
  font-size: 14px;
  color: #646464;
  font-weight: 400;
}

.subpodcasts__container .subpodcasts .subpodcast {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 13px;
  cursor: pointer;
  width: 100%;
}

.subpodcasts__container .subpodcasts .subpodcast img {
  width: 32px;
  height: 32px;
}

.subpodcasts__container .subpodcasts .subpodcast .contents {
  position: relative;
  -ms-flex-preferred-size: calc(100% - 45px);
      flex-basis: calc(100% - 45px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
  width: calc(100% - 45px);
}

.subpodcasts__container .subpodcasts .subpodcast .contents .subpodcast__info .title {
  width: 267px;
  max-width: 267px;
  overflow: hidden;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: -0.56px;
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 7px;
  font-family: "MBCNEW";
  font-size: 13px;
  color: #474747;
  font-weight: 300;
}

.subpodcasts__container .subpodcasts .subpodcast .contents .subpodcast__info .date {
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.08;
  letter-spacing: -0.48px;
  text-align: left;
  font-family: "MBCNEW";
  font-size: 11px;
  color: #969696;
  font-weight: 300;
}

.subpodcasts__container .subpodcasts .subpodcast .contents .subpodcast__info .hover {
  color: #7742cc;
}

.subpodcasts__container .subpodcasts .subpodcast .contents .subpodcast__info .like__icon {
  width: 23.7px;
  height: 21.3px;
  -o-object-fit: contain;
     object-fit: contain;
}
/*# sourceMappingURL=subposcasts.css.map */