@import '../general/general.scss';

.program__image__container {
  grid-row: 1/3;
  grid-column: 1;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: black;
  overflow: hidden;
  position: relative;
  background-position: 50% 20%;

  .background__image.is_vod {
    opacity: 0.2;
  }

  .to_left__icon,
  .to_right__icon {
    width: 16.7px;
    height: 29px;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 15px;
    cursor: pointer;
  }

  .to_right__icon {
    left: auto;
    right: 15px;
  }

  .temp {
    bottom: 0;
    position: absolute;
    left: 0;
    height: 237px;
    width: 100%;
  }

  .mbc__notice {
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 16px 30px;

    img {
      width: 11px;
      height: 11px;
      position: absolute;
      top: 9px;
      right: 12px;
      cursor: pointer;

      &:hover {
        border-color: #fff;
      }
    }

    p {
      max-height: 100%;
      opacity: 1;
      @include font($weight: $light, $size: 12px, $color: #f8f8f8);
      line-height: 20px;
      letter-spacing: -0.24px;
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
    }
  }
}
