* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "MBCNEW";
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: auto;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#3e3e5a), to(#333333));
  background: linear-gradient(to bottom, #3e3e5a, #333333);
}

@media screen and (max-width: 1080px) {
  body {
    display: block;
    height: auto;
  }
}

svg {
  font-family: 'MBCNEW';
}

.messages__container {
  background-color: white;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: calc(100% - 50px);
  min-height: calc(100% - 50px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
  overflow: hidden;
  border-radius: 22px 22px 0 0;
}

.messages__container .messages {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  height: calc(100% - 115px);
  width: 100%;
  padding: 0;
  overflow: scroll;
  overflow-x: hidden;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: auto;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.messages__container .messages::-webkit-scrollbar {
  width: 7px;
  z-index: 10;
  position: relative;
}

.messages__container .messages::-webkit-scrollbar-track {
  background: #ebebeb;
  border-radius: 4px;
  z-index: 10;
  position: relative;
}

.messages__container .messages::-webkit-scrollbar-thumb {
  background: #b0b0b0;
  border-radius: 4px;
  cursor: pointer;
  z-index: 10;
}

.messages__container .messages::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.messages__container .messages .msg__people {
  padding: 0 30px 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: auto;
  width: 100%;
}

.messages__container .messages .no__message_yet {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 26px;
  height: calc(100% - 170px);
  position: absolute;
  top: 9rem;
  left: 0;
}

.messages__container .messages .no__message_yet .info__text {
  text-align: center;
}

.messages__container .messages .no__message_yet .info__text p {
  line-height: 1.5;
  color: #646464;
}

.messages__container .messages .no__message_yet .no_message_icon {
  width: 130px;
  height: 130px;
  background-color: #ebebeb;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: auto;
}

.messages__container .messages .no__message_yet .no_message_icon img {
  -webkit-user-drag: none;
  -o-object-fit: contain;
     object-fit: contain;
  width: 83.9px;
  height: 74.2px;
  margin: 0 0 5px 10px;
}

.messages__container.mini {
  height: calc(100% - 110px);
  min-height: calc(100% - 110px);
  width: 420px;
  padding-top: 20px;
}

.messages__container.mini .messages {
  height: calc(100% - 50px);
}
/*# sourceMappingURL=messages.css.map */