* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: "MBCNEW";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: auto;
  height: 100%;
  background: linear-gradient(to bottom, #3e3e5a, #333333); }

@media screen and (max-width: 1080px) {
  body {
    display: block;
    height: auto; } }

svg {
  font-family: 'MBCNEW'; }

.podcasts__main {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 11.6px; }

.podcasts__main button {
  border: none;
  background-color: transparent; }

.podcasts__main .podcasts {
  width: 100%;
  max-width: 338px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: start;
  gap: 6px;
  overflow: hidden; }

.podcasts__main .podcasts .podcast {
  flex-shrink: 0;
  width: 80px;
  transition: all 0.5s ease-in-out;
  cursor: pointer; }

.podcasts__main .podcasts .podcast img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px; }

.podcasts__main .podcasts .podcast-title {
  width: 80px;
  font-weight: 300;
  max-width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'MBCNEW';
  font-size: 12px;
  text-align: center;
  line-height: 16px;
  letter-spacing: -0.24px;
  color: #333333;
  text-overflow: ellipsis; }

.podcasts__main .podcasts .blank {
  cursor: unset; }

.podcasts__main .move__icon {
  width: 7.5px;
  height: 12.9px;
  object-fit: contain; }

.podcasts__main .reverse__icon {
  transform: rotate(180deg); }

.podcasts__main .pointer {
  cursor: pointer; }
