@import "../general/general";

.schedule__navbar {
	width: 376px;
	height: 42px;
	background-color: #ebebeb;
	border-radius: 10px;
	padding: 0 47px;

	@include flex($just: space-between, $gap: auto);

	p {
		cursor: pointer;
		@include font($color: #7e7e7e);
		position: relative;
		padding: 13px 3px;

		&::after {
			display: none;
			position: absolute;
			height: 4px;
			width: 100%;
			left: 0;
			bottom: 0;
			content: "";
			background-color: $main_color;
			border-radius: 10px;
		}
	}
	.current {
		color: $main_color;

		&::after {
			display: block;
		}
	}
}
