@import '../general/general';

$audio_info_height: 80px;
.audio__info {
  background-color: #ebebeb;
  padding: 20px 30px 0;
  width: 80%;
  margin-inline: auto;
  @include flex($dir: column, $just: center, $align: center);

  overflow: hidden;
  .title {
    text-align: center;
    flex-basis: 1;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include font($size: 20px, $color: #0e0e0e);
    letter-spacing: -0.5px;
    line-height: 1.7;
    letter-spacing: -0.36px;
    margin-bottom: 2px;
    margin-inline: auto;
  }

  .subtitle {
    width: 100%;
    @include flex($just: center, $align: center, $gap: 5px);
    height: 16px;
    p {
      @include font($size: 14px, $weight: $light, $color: #646464);
      max-width: 200px;
      flex-basis: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-style: normal;
      line-height: 1.13;
      letter-spacing: 0px;
      text-align: center;
      width: 100%;
    }

    .person__icon {
      width: 18px;
      height: 18px;
      object-fit: contain;
    }
  }

  text-align: left;

  @keyframes slidein {
    0% {
      transform: translateX(0);
    }
    90% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(-100%);
    }
  }
}

// .audio__info.podcast__in {
// 	background-color: $main_color;
// 	.title {
// 		font-weight: 400;
// 		font-stretch: normal;
// 		font-style: normal;
// 		@include font($color: #f8f8f8, $size: 17px);
// 		line-height: 1.81;
// 		letter-spacing: 0px;
// 		text-align: left;
// 	}

// 	.subtitle {
// 		font-stretch: normal;
// 		font-style: normal;
// 		line-height: 1.13;
// 		letter-spacing: -0.6px;
// 		text-align: left;
// 		@include font($color: #c9c9c9, $size: 15px, $weight: 300);
// 	}
// }
