* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "MBCNEW";
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: auto;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#3e3e5a), to(#333333));
  background: linear-gradient(to bottom, #3e3e5a, #333333);
}

@media screen and (max-width: 1080px) {
  body {
    display: block;
    height: auto;
  }
}

svg {
  font-family: 'MBCNEW';
}

.program__container {
  width: 100%;
  border-top: 1px solid #ebebeb;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  height: var(--val);
  overflow: hidden;
}

.program__container #on__air__top {
  scroll-margin-top: 10px;
}

.program__container .top {
  padding: 16px 28px 16px 22px;
  width: 100%;
  height: 52.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
}

.program__container .top .right {
  width: 15px;
}

.program__container .top .right img {
  width: 15px;
  height: 7.5px;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
  -webkit-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
}

.program__container .top .left {
  overflow: hidden;
  -ms-flex-preferred-size: calc(100% - 30px);
      flex-basis: calc(100% - 30px);
  width: calc(100% - 30px);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.program__container .top .left .time {
  width: 40px;
}

.program__container .top .left .time p {
  font-family: "MBCNEW";
  font-size: 14px;
  color: #21212e;
  font-weight: 300;
}

.program__container .top .left .info {
  width: calc(100% - 60px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 8px;
}

.program__container .top .left .info .title__air {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
}

.program__container .top .left .info .title__air img {
  width: 56px;
  height: 20.7px;
  -o-object-fit: contain;
     object-fit: contain;
}

.program__container .top .left .info .title__air .title {
  max-width: calc(100% - 62px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "MBCNEW";
  font-size: 14px;
  color: #21212e;
  font-weight: 300;
}

.program__container .top .left .info .bora {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.program__container .top .left .info .bora p {
  max-width: calc(100% - 35px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "MBCNEW";
  font-size: 14px;
  color: #21212e;
  font-weight: 300;
}

.program__container .is__bora {
  height: 64px;
}

.program__container .bottom {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  padding: 0 81px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.program__container .bottom img {
  width: 38px;
  height: 38px;
  -o-object-fit: contain;
     object-fit: contain;
}

.program__container .bottom .cursor {
  cursor: pointer;
}

#slided__program {
  height: var(--slidedVal);
  background-color: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#slided__program .top .right img {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
}

#slided__program .bottom {
  padding-bottom: 15px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

#slided__program.on__air {
  background-color: #e2e2e2;
}

.on__air {
  background-color: #e2e2e2;
}

.on__air .top .left .time p {
  font-weight: 500;
  width: 44px;
}

.on__air .top .left .info .title__air .title {
  font-weight: 500;
}
/*# sourceMappingURL=program.css.map */