@import '../general/general.scss';

.delete__prompt__container {
  position: absolute;
  width: 360px;
  height: 150px;
  top: 30%;
  left: 2rem;
  background-color: #fff;
  z-index: 1000;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.16);
  @include flex($dir: column, $gap: 10px, $just: center);
  padding: 35px 16px 16px;

  .icon__close {
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 15px;
    width: 13.5px;
    height: 13.5px;
    object-fit: contain;
  }

  .confirmation__text {
  }

  .button__container {
    margin-top: 1rem;
    width: 100%;
    @include flex($just: space-around);

    button {
      padding: 10px 15px;
      cursor: pointer;
      border-radius: 6px;
      border: none;
    }

    .cancel_button {
      background-color: hsl(0, 0%, 90%);
      @include font($color: #333);
    }

    .confirmation_button {
      background-color: $main_color;
      @include font();
    }
  }
}
