@import '../general/general.scss';

.liked__episodes__container {
  padding: 20px 0px 0;
  width: 100%;
  height: calc(100% - 56px);
  @include flex($dir: column, $just: flex-start, $align: flex-start);
  overflow: hidden;
  position: relative;

  .header {
    flex-shrink: 0;
    width: 100%;
    padding: 0 30px 0 22px;
    @include font($weight: $light, $size: 12px, $color: #333);
    .left {
      min-width: 2rem;
      @include flex($just: flex-start, $gap: 7px);
      .checkbox {
        background-color: transparent;
        cursor: pointer;
        width: 14px;
        height: 14px;
        border: none;
        img {
          object-fit: contain;
          width: 100%;
          height: 100%;
        }
      }

      .delete {
        border: none;
        background-color: transparent;
        margin-left: 7px;
        color: #b5b5b5;
      }

      .delete.enabled {
        color: $main_color;
      }
    }
    .right {
      padding-right: 8px;
    }

    button {
      background-color: transparent;
      border: none;
    }
    p {
      cursor: pointer;
    }
    @include flex($just: space-between);
  }

  .no__episode {
    width: 100%;
    @include flex($dir: column, $just: flex-start, $gap: 40px);
    padding-top: 3rem;
    @include font($size: 14px, $weight: $light, $color: #707070);

    .no__episode_image {
      width: 130px;
      height: 130px;
      border-radius: 50%;
      background-color: #ebebeb;
      @include flex($just: center);
    }
  }

  .episodes {
    padding-top: 7px;
    height: calc(100% - 14px);
    width: 100%;
    overflow-y: scroll;
    @include flex(
      $dir: column,
      $just: flex-start,
      $align: flex-start,
      $gap: 10px
    );

    .episode {
      @include flex($gap: 6px);
      border-bottom: 2px solid hsla(0, 0%, 90%, 0.871);
      padding: 1px 30px 10px 22px;
      cursor: pointer;
      width: 100%;
      position: relative;

      .icon__playing {
        position: absolute;
        top: 23px;
        left: 50px;
        z-index: 100;
      }

      .checkbox {
        width: 14px;
        height: 14px;
        object-fit: contain;
        cursor: pointer;
      }
      .episode__img {
        width: 69px;
        height: 69px;
        border-radius: 50%;
      }

      .info {
        margin-left: 4px;
        flex-basis: calc(100% - 80px);
        width: calc(100% - 80px);
        .episode__title {
          max-width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          @include font($color: #21212e, $weight: $light);
          line-height: 1.8;
        }

        .program__title {
          max-width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          @include font($color: #969696, $weight: $light, $size: 13px);
          line-height: 1.3;
        }

        .date {
          @include font($color: #969696, $weight: $light, $size: 13px);
        }
      }

      .info.deleting {
        flex-basis: calc(100% - 100px);
        width: calc(100% - 100px);
      }
    }

    .playing__subpodcast {
      .episode__img {
        opacity: 0.4;
      }
    }
  }
}
