* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "MBCNEW";
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: auto;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#3e3e5a), to(#333333));
  background: linear-gradient(to bottom, #3e3e5a, #333333);
}

@media screen and (max-width: 1080px) {
  body {
    display: block;
    height: auto;
  }
}

svg {
  font-family: 'MBCNEW';
}

.subscribed__programs__container {
  padding: 20px 0px 0;
  width: 100%;
  height: calc(100% - 56px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: auto;
  overflow: hidden;
}

.subscribed__programs__container .header {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  padding: 0 30px 0 22px;
  font-family: "MBCNEW";
  font-size: 12px;
  color: #333;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: auto;
}

.subscribed__programs__container .header .left {
  min-width: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
}

.subscribed__programs__container .header .left .checkbox {
  cursor: pointer;
  width: 14px;
  height: 14px;
  -o-object-fit: contain;
     object-fit: contain;
}

.subscribed__programs__container .header .left .delete {
  margin-left: 7px;
  color: #b5b5b5;
}

.subscribed__programs__container .header .left .delete.enabled {
  color: #333;
}

.subscribed__programs__container .header .right {
  padding-right: 8px;
}

.subscribed__programs__container .header p {
  cursor: pointer;
}

.subscribed__programs__container .no__subscribed {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 26px;
  padding-top: 3rem;
  font-family: "MBCNEW";
  font-size: 15px;
  color: #707070;
  font-weight: 300;
}

.subscribed__programs__container .no__program {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 26px;
  padding-top: 3rem;
  font-family: "MBCNEW";
  font-size: 15px;
  color: #707070;
  font-weight: 300;
}

.subscribed__programs__container .no__program p {
  line-height: 1.3;
}

.subscribed__programs__container .no__program .login__direct__btn .login__btn {
  width: 190px;
  height: 40px;
  background-color: #7742cc;
  font-family: "MBCNEW";
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.subscribed__programs__container .programs {
  padding-top: 7px;
  height: calc(100% - 14px);
  width: 100%;
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
}

.subscribed__programs__container .programs .program {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  border-bottom: 2px solid rgba(230, 230, 230, 0.871);
  padding: 1px 30px 10px 22px;
  cursor: pointer;
  width: 100%;
}

.subscribed__programs__container .programs .program .checkbox {
  width: 14px;
  height: 14px;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}

.subscribed__programs__container .programs .program .program__img {
  width: 69px;
  height: 69px;
  border-radius: 10px;
}

.subscribed__programs__container .programs .program .info {
  margin-left: 4px;
  -ms-flex-preferred-size: calc(100% - 80px);
      flex-basis: calc(100% - 80px);
  width: calc(100% - 80px);
}

.subscribed__programs__container .programs .program .info .program__title {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "MBCNEW";
  font-size: 14px;
  color: #21212e;
  font-weight: 300;
  line-height: 1.8;
}

.subscribed__programs__container .programs .program .info .program__subtitle {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "MBCNEW";
  font-size: 13px;
  color: #969696;
  font-weight: 300;
  line-height: 1.3;
}

.subscribed__programs__container .programs .program .info.deleting {
  -ms-flex-preferred-size: calc(100% - 100px);
      flex-basis: calc(100% - 100px);
  width: calc(100% - 100px);
}
/*# sourceMappingURL=subscribed.css.map */