* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "MBCNEW";
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: auto;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#3e3e5a), to(#333333));
  background: linear-gradient(to bottom, #3e3e5a, #333333);
}

@media screen and (max-width: 1080px) {
  body {
    display: block;
    height: auto;
  }
}

svg {
  font-family: 'MBCNEW';
}

.mini__audioinfo__container {
  -ms-flex-preferred-size: calc(100% - 46px);
      flex-basis: calc(100% - 46px);
  max-width: calc(100% - 46px);
  overflow: hidden;
  position: relative;
  text-align: left;
}

.mini__audioinfo__container .title {
  width: 100%;
  -ms-flex-preferred-size: 1;
      flex-basis: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "MBCNEW";
  font-size: 17px;
  color: #0e0e0e;
  font-weight: 300;
  letter-spacing: -0.5px;
  line-height: 1.5;
  letter-spacing: -0.36px;
}

.mini__audioinfo__container .subtitle {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 9px;
  height: 16px;
}

.mini__audioinfo__container .subtitle p {
  font-family: "MBCNEW";
  font-size: 13px;
  color: #646464;
  font-weight: 300;
  -ms-flex-preferred-size: 1;
      flex-basis: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: 0px;
}

.mini__audioinfo__container .subtitle .person__icon {
  width: 18px;
  height: 18px;
  -o-object-fit: contain;
     object-fit: contain;
}

@-webkit-keyframes slidein {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  90% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes slidein {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  90% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
/*# sourceMappingURL=audioInfo.css.map */