@import '../general//general';

.ad__container {
  // background-color: hsl(0, 0%, 30%);
  min-height: 100%;
  flex-basis: $ad_width;
  width: $ad_width;
  margin: 0;

  iframe {
    margin: 0;

    a,
    img {
      margin: 0;
    }

    body {
      margin: 0;
    }
  }
}
